{% extends "base.html" %}
{% block content %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Rehab4Rehab</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <h1></h1>
        <iframe src="https://docs.google.com/presentation/d/1ghZgkTskN3TiRkOorrCSqWXCnfNo6QF0uNrztiUbd7c/embed?start=false&loop=false&delayms=3000" frameborder="0" width="640" height="389" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
      </div>
      
      <div class="starter-template">
        <div class="col-md-7">
          <p>
        Rehab4Rehab is a project designed to determine which US counties would benefit most from a new drug rehabilitation facility. The model underlying the app is a random forest regressor that predicts the drug poison mortality rate from many features, including population, current number of rehab facilities, and opioid prescribing rate. Data came from several sources. The number of rehab facilities was scraped from addicted.org, while the remaining information came from datasets from the CDC and Centers for Medicare and Medicaid Services.
          </p>
        </div>
      </div>
      
    </div> <!-- /.container-->

{% endblock %}