{% extends "base.html" %}
{% block content %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Rehab4Rehab</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/explorer">Explorer</a></li>
            <li><a href="/about">About</a></li>
            <li class="active"><a href="/contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="starter-template">
        <h2 class="lead">Gareth Kafka</h2>
        <div class="col-sm-12">
          <img src="/static/DefenseShaved.JPG">
          <p>Email: <a href="mailto:gareth.kafka@gmail.com">gareth.kafka@gmail.com</a> </p>
          <p><a href="https://linkedin.com/in/gareth-kafka">LinkedIn</a></p>
          <p><a href="https://github.com/gkafka/">GitHub</a></p>

        </div>
      </div>
    </div><!-- container -->

{% endblock %}